body{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    color: #6a6d89;
}
*,*::before,*::after{
    box-sizing: border-box;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.container{
    width: 100%;
    max-width: 1300px;
    padding: 15px 30px;
    margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    color: #000;
}
.--left{
    text-align: left;
    padding-left: 50px;
    justify-content: left;
}
.--right{
    text-align: right;
    padding-right: 50px;
    justify-content: right;
}


/*header*/
.header{
    width: 100%;
    position: fixed;
    z-index: 1000;
    background: rgb(0,235,238);
    background: linear-gradient(90deg, rgba(0,235,238,1) 0%, rgba(0,184,244,1) 100%);
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
.header .container{
    padding: 10px 30px;
}
.header__nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__img{
    cursor: pointer;
}
.header__list{
    list-style-type: none;
    display: flex;
}
.header__item{
    padding: 15px 30px;
    cursor: pointer;
    transition: all .2s linear;
}
.header__item:hover{
    background-color: #fff;
}
.header__item:hover .header__link{
    color: #000;
}
.header__link{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    transition: color .2s linear;
}
.burger{
    display: none;
}

/*intro*/
.intro{
    margin: 0;
    width: 100%;
    height: 100vh;
    background-image: url("img/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    color: #fff;
    overflow: hidden;
}
.intro__content{
    margin: 15% auto 0;
    text-align: center;
    max-width: 550px;
    position: relative;
}
.intro__title{
    font-size: 45px;
    line-height: 70px;
}
.intro__text{
    font-weight: 400;
    letter-spacing: 1px;
}
.intro__buttons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.intro__button{
    padding: 15px 35px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    transition: all .2s linear;
}
.intro__button:hover{
    background-color: #fff;
    color: #000;
}
.intro__smartphone{
    margin: 50px auto 0;
    width: 230px;
    height: auto;
}

/*about*/
.about{
    position: relative;
    top: -25vh;
    z-index: 5;
    background-color: transparent;
    background-image: url("img/rounded_background.png");
    background-size: cover;
    background-position: center top;
}
.about__content{
    padding: 250px 0 170px 0;
    display: flex;
    align-items: center;
    text-align: center;
}
.about__image{
    width: 30%;
}
.about__items{
    width: 70%;
    color: black;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 25px;
}
.about__block{
    width: 30%;
    min-width: 200px;
    box-shadow: 0px 2px 7px rgb(210, 210, 210);
    margin: 40px 0 40px 70px;
    padding: 30px;
    transition: all .1s linear;
    position: relative;
    background-color: #fff;
    border-radius: 3px;
}
.about__block:hover{
    box-shadow: 0px 0px 7px #33d2fd;
}
.about__icon{
    padding: 30px 0;
}
.about__title{
    font-size: 14px;
    font-weight: 600;
}
.about__text{
    font-size: 14px;
    font-weight: 400;
}
/*marketing*/
.marketing{
    position: relative;
    top: -10vh;
    background-color: #fff;
}
.marketing__content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /*de sters!*/
    margin-bottom: 50px;
}
.marketing__column{
    width: 50%;
    border: 5px solid transparent;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.marketing__title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 60px;
    text-transform: capitalize;
}
.marketing__text{
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 30px;
}
.marketing__button{
    padding: 18px 43px;
    text-transform: capitalize;
    color: white;
    font-weight: 600;
    font-size: 15px;
    border: 2px solid #33d2fd;
    border-radius: 5px;
    background-color: #33d2fd;
    cursor: pointer;
    transition: all .2s linear;
}
.marketing__button:hover{
    background-color: #fff;
    color: #000;
}
.marketing__block{
    width: 100%;
    display: flex;
    background-color: #fff;
    padding: 25px;
    box-shadow: 0px 2px 10px rgb(210, 210, 210);
    cursor: pointer;
    margin: 10px 0;
    transition: all .2s linear;
}
.marketing__block:hover{
    box-shadow: 0px 0px 10px #33d2fd;
}
.m-block__icon{
    width: 15%;
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.m-block__content{
    width: 85%;
    display: inline;
}
.m-block__title{
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 5px;
}
.m-block__text{
    line-height: 22px;
    font-weight: 400;
    letter-spacing: .7px;
    color: #fff;
    display: none;
    opacity: 0;
    transition: all .2s linear;
}
.m_active{
    background-color: #33d2fd;
}
.m_active .m-block__text{
    display: block;
    opacity: 1;
}

/*platform*/
.platform{
    width: 100%;
    background-color: #fafafc;
    padding: 70px 0;
}
.platform__content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.platform__column{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.platform__image img{
    width: 100%;
    height: auto;
}
.platform__title{
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 30px;
    width: 100%;
}
.platform__item{
    margin-bottom: 20px;
    width: 100%;
}
.platform__icon{
    color: #33d2fd;
    font-size: 17px;
    position: relative;
    top: 2px;
}
.platform__desc{
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
}
.platform__text{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .7px;
    line-height: 30px;
    margin-top: 15px;
}

/*application*/
.application{
    background: url("img/Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px;
    padding-bottom: 0;
    position: relative;
}
.application__content{
    display: flex;
    flex-wrap: wrap;
    padding: 0 170px;
    justify-content: center;
}
.application__column{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.application__image{
    width: 100%;
}
.application__image img{
    max-width: 75%;
    width: 250px;
    height: auto;
}
.application__title{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.application__text{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.7px;
    color: white;
    line-height: 30px;
    margin: 0 0 40px;
}
.application__button{
    width: 170px;
    height: 50px;
    margin-right: 40px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}
.get_ios{
    background-image: url("img/App_Store.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.get_and{
    background-image: url("img/Google_Play.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.application__get{
    min-width: 300px;
    height: 70px;
    background: rgb(254,117,112);
    background: linear-gradient(180deg, rgba(254,117,112,1) 0%, rgba(246,56,125,1) 100%);
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    z-index: 1;
    top: 50px;
    box-shadow: 0px 5px 5px #ffd8e6;
    transition: all .2s linear;
}
.application__get:hover{
    box-shadow: 0px 3px 10px rgb(254,117,112);
}

/*info*/
.info{
    padding: 150px 0 100px;
    background-color: #fff;
}
.info__panel{
    margin: 0 170px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-transform: capitalize;
    margin-bottom: 100px;
}
.info__column{
    width: 25%;
    min-width: 100px;
}
.info__title{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 35px;
}
.info__link{
    /*pointer-events: none; /*sterge toate evenimentele pentru link;*/
    width: 100%;
    margin-bottom: 20px;
}
.info__link a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .7px;
    color: #000;
}
/*subscribe*/
.subscribe{
    text-align: center;
    margin: 0 170px;
}
.subscribe__title{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.subscribe__text{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 70px;
}
.subscribe__form{
    display: flex;
    justify-content: space-between;
}
.subscribe__form input[type=email]{
    width: 75%;
    height: 50px;
    border: none;
    background-color: #f6f7fb;
    padding: 0 15px;
    font-size: 15px;
}
.subscribe__form input[type=email]:focus{
    outline-color: #33d2fd;
}
.subscribe__form input[type=button]{
    width: 20%;
    height: 50px;
    border: none;
    background-color: #47c3fa;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}

/*footer*/
.footer{
    background-color: #233148;
    color: #fff;
    padding: 40px 0;
}
.footer__content{
    display: flex;
}
.footer__right{
    width: 50%;
    float: left;
    margin: 0;
    color: #fff;
}
.footer__social{
    display: flex;
    width: 50%;
    justify-content: right;
}
.footer__icon{
    margin-left: 50px;
    font-size: 20px;
}

/**************Responsivity****************/
@media (max-width: 1100px){
    /*about*/
    .about__image img{
        width: 90%;
        height: auto;
    }
    /*application*/
    .application__content{
        padding: 0;
    }
    .application__button{
        margin: 0 10px 10px 0;
    }
    .--left{
        padding-left: 35px;
    }
    .--right{
        padding-right: 35px;
    }
    /*info*/
    .subscribe__form input[type=button]{
        font-size: 12px;
    }
}
@media (max-width: 850px){
    /*about*/
    .about__image{
        display: none;
    }
    .about__items{
        width: 100%;
    }
    /*marketing*/
    .--left,.--right{
        width: 100%;
        justify-content: center;
        padding:0 0 20px 0;
    }
    .marketing__column:first-of-type{
        text-align: center;
    }
    /*.application*/
    .application{
        padding-top: 70px;
    }
    .application__image{
        display: none;
    }
    .application__column{
        width: 100%;
    }
    .application__button{
        margin: 0;
    }
    /*info*/
    .info__panel{
        margin: 0 50px 100px 50px;
    }
    .subscribe{
        margin: 0 50px;
    }
}
@media (max-width: 600px){
    h2{
        font-size: 25px;
    }
    /*header*/
    .header__list{
        visibility: hidden;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: red;
    }
    .burger{
        display: flex;
        width: 20px;
        height: 3px;
        position: relative;
        background: #fff;
    }
    .burger::before{
        content: "";
        width: 20px;
        height: 3px;
        background: #fff;
        position: absolute;
        top: -7px;
        left: 0;
    }
    .burger::after{
        content: "";
        width: 20px;
        height: 3px;
        background: #fff;
        position: absolute;
        top: 7px;
        left: 0;
    }
    /*intro*/
    .intro__content{
        margin: 25% auto 0;
    }
    .intro__title{
        font-size: 30px;
        line-height: 50px;
    }
    /*about*/
    .about__content{
        padding: 220px 0 0 0;
    }
    .about__block{
        position: static;
        margin: 20px;
    }
    /*platform*/
    .platform{
        padding: 70px 0 100px;
    }
    .application{
        padding: 0;
    }
    /*marketing*/
    .marketing__content{
        margin: 0;
    }
    /*info*/
    .info{
        padding: 50px 0 70px;
    }
    .info__title{
        margin: 30px 0;
    }
    .info__panel{
        margin: 50px 0;
    }
    .subscribe{
        margin: 0;
    }
    .subscribe__text{
        margin-bottom: 30px;
    }
    .subscribe__form{
        flex-wrap: wrap;
        justify-content: center;
    }
    .subscribe__form input[type=email]{
        width: 100%;
        margin-bottom: 10px;
    }
    .subscribe__form input[type=button]{
        width: 50%;
    }
    /*footer*/
    .footer{
        padding: 20px 0;
    }
    .footer__icon{
        margin-left: 15px;
        font-size: 15px;
    }
}